<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UsuarioMapper" >
  <select id="obtenerUsuario" resultType="igstw.g7.modelo.pojos.Usuario" parameterType="igstw.g7.modelo.pojos.Usuario">
        select * from usuario 
        where u_cod=#{u_cod,jdbcType=VARCHAR} and u_con=#{u_con,jdbcType=VARCHAR}
    </select>
</mapper>